body {font-family:"微软雅黑";margin:0; padding:0; background: #fff; font-size:16px; color:#000;}
div,form,img,ul,ol,li{margin: 0; padding: 0; border: 0;}
li{list-style-type:none;}
img{vertical-align:top;}
a, a:hover, a:visited, a:link {
    text-decoration: none; 
    color: #4d4d4d; 
}

.clearfix:after{
    content:'';
    clear:both;
    overflow:hidden;
    height:0px;
    *zoom:1;
}

.clamp-3 {
    -webkit-line-clamp: 3;
    line-height: 30px;
    height: 90px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
}