.page_footer {
    .footer_link {
        width: 100%;
        height: 55px;
        background: #597ec6;
        display: table;
        text-align: center;
        color: #fff;
        a {
            color: #fff;
        }

        .footer_link_list {
            display: table-row;
            li {
                display: inline;
                line-height: 55px;
                margin: 0 45px;
            }
        }

        .footer_link_img {
            width: 15px;
            height: 15px;
            margin-top: 20px
        }
    }
    .footer_content {
        position: relative;
        height: 270px;
        padding-top: 25px;
    }

    .footer_content_bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    .footer_nav {
        width: 1200px;
        margin: 0px auto 35px;
        a {
            color: #000;
        }

        .footer_nav_list {
            li {
                display: inline;
                margin-left: 35px;
            }

            li + li:before {
                content: "/\00a0";
                margin-right: 35px;
            }
        }
    }

    .footer_info_container {
        width: 1200px;
        margin: 0 auto;
        position: relative;
    }

    .footer_info {
        position: absolute;
        left: 0;
        top: 0;

        .footer_info_img {
            width: 16px;
            height: 22px;
            margin-right: 15px;
        }

        .footer_info_name {
            color: #f15a24;
            font-size: 20px;
        }
    }

    .footer_info > div {
        margin-bottom: 20px;
        color: #666;
        font-size: 18px;
    }

    .footer_qr {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 25px;

        .footer_qr_content {
            display: inline-block;
        }

        .footer_qr_img {
            width: 150px;
            height: 150px;
            border: 3px solid #f15a24;
        }

        .footer_title {
            text-align: center;
            font-size: 14px;
            color: #333;
        }
    }

    .footer_wipo {
        height: 30px;
        line-height: 30px;
        width: 100%;
        text-align: center;
        background: #f2f2f2;
        color: #999;
    }
}